# Syncurity ST2 Services Configuration
# Environment variables kept outside of source control

# Postgresql Service

POSTGRESQL_DATABASE=syn_st2_datastore
POSTGRESQL_USER=syncurity
POSTGRESQL_PASSWORD=synpass
EXTERNAL_POSTGRES_PORT=8102
# add postgres password for remote access
POSTGRESQL_ADMIN_PASSWORD=

# Blocklist container http port
EXTERNAL_BLOCKLIST_PORT=8101


# SSL Certificate settings

# if you have a self signed or CA signed cert place in the certs directory and enter the path below.
# Implies /opt/docker/metabase/certs is the certificate path
SELF_SIGNED_CERT=certs/selfsigned.keystore
CA_SIGNED_CERT=certs/synst2.keystore

#########################################################################################################
#
# Only change if you know what you are doing
# This is the name of the cert inside the container. Do not change or confuse with SELF_SIGNED_CERT above.
# For more info contact support
MB_JETTY_SSL_Keystore=/certs/selfsigned.keystore
#
#
# Change the host nat internal subnet if you have a routing issue:
SYNCURITY_ST2_NETWORK_SUBNET=172.16.252.0/24
#
#
#########################################################################################################

##############################
# Do not change settings below
##############################






